<!DOCTYPE html>
<html>
    <head>
        <title>top</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="top.css"> 
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    </head>
    <body>
        <header id="header" class="header">
            <div class="container">
                <div class="nav">
                    <img src="img/logo.svg" alt=
                    "Выбери тайтл" class="logo">
                    <ul class="menu">
                        <li>
                            <a href="#" style="color:azure">
                                лучшие из лучших
                            </a>
                        </li>
                        <li>
                            <a href="#" style="color:azure">
                                романтика
                            </a>
                        </li>
                        <li>
                            <a href="index2.html" target="_blank" style="color:azure">
                                Реинкарнация
                            </a>
                        </li>
                        <li>
                            <a href="#" style="color:azure">
                                исекай фэнтези
                            </a>
                        </li>
                    </ul>
                    <a href="https://www.instagram.com/sultanakero/" class="tel">instagram</a>
                </div>
            <div class="offer">
                <p>выбери по вкусу</p>
                <h1>
                    Жанры Тайтлов
                </h1>
                <a href="index.html" target="_blank" class="btn">вернуться в меню</a>
            </div>
                </div>
                </header>
                <section id="about" class="about">
                    <div class="container">
                        <h2>Здесь ты можеш выбрать свой
                            <br> любимый жанр тайтла</h2>
                    </div>
                </section>
    </body>
</html>